/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*-------
common styles and utilities
------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* ---------------
intro styles
---------- */
#intro{
    background-color: #2D25A0;
}
/* anchor-tags style */
.anchor-tags{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 45px;
}
/*----------
 button syles
---------- */
.buttons{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    padding-top: 44px;
    padding-left: 100px;
}
.button{
    text-decoration: none;
    background-color: #E02C6D;
    padding-left:25px;
    padding-right: 20px;
    padding-bottom:7px;
    padding-top:7px;
    color:#FFFFFF ;
    border-radius: 3px;
    margin-right: 120px;
}
/* -----introduction----- */
.into{
    font-size: 64px;
    color: #FFFFFF;
}
.banner-img img{
    width: 100%;
    padding-top: 44px;
}
.banner{
    display: flex;
    padding-left: 140px;
 
}
/*--------------
 players section 
 --------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:25px;
    padding-top: 45px;
    width: 100%;
}
.player img{
    width: 100%;
}
.players .player{
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(197, 191, 191);
    margin: 15px;
    padding: 10px;
    background-color:whitesmoke;
}
.player> h3{
    font-size: 25px;
}
/*----------
 player styel end
-------- */

/* highlights styles */
.highlight{
    padding-top: 60px;
    padding-left: 50px;
    display: flex;
}
.highlight img{
    padding-top: 80px;
}
.two{
   color: black;
   font-size:64px; ;
}
.highlight img{
 width: 100%;
 height: 427px;
}
/*----------- 
highlight part end 
----------*/
/* -------------
courses styles
---------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:100px ;
    padding-top: 150px;
    margin: 5px;
    }
    .course .course-banner img{
        width: 100%;
        height: 100%;
    
    }  
    .course-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fa-star{
        font-size: 12px;
    }
    .fa-star.filled{
        color: #FFC014;
    }
    .fa-star.empty{
        color: #AEAEAE;
    }
    .course-duration{
        border-radius: 15px;
        padding-left:7px;
        padding-right: 7px;
        background-color: #FFE4E8;
        color:#FF4A60 ;
    }
    hr{
        border: 1px solid #D1D1D1;
    }
    /* box div */
    #team{
        text-align: center;
        font-size: 70px;
    }
    .placements{
        font-size: 40px;
    }
    .box{
        display: flex;
        background-color:#F3F1FF ;

    }
    .box-width{
        margin-left: 50px;
        margin-right: 50px;
        width: 50%;
        box-shadow:20px 20px 20px gray;
        border-radius:30px;
        text-align: center;
        font-size: 20px;
        border-image: linear-gradient(orange,orangered,yellow,rgb(208, 50, 50));
        border-left: 10px solid;
        border-right: 10px solid;
        border-top: 10px solid;
        border-bottom: 10px solid;
        border-image-slice: 1;
    }
    .box-width img{
        width: 100%;
        border-radius:5px;
    }
    #sk{
        color: orange;
    }
    .names{
        font-size: 55px;
        text-align: center;
        }
/* footer section */
.footer-section{
    padding-top: 158px;
    text-align: center;
}
.awesome-icons{
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
}
footer{
    text-align: center;
    font-size: 30px;
}
/* footer section end */



